* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft Yahei, Heiti SC, tahoma, arial, Hiragino Sans GB "\5B8B\4F53";

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: '.';
    height: 0;
}

select,
textarea,
input {
    outline: 0;
    resize: none;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?tm03uu');
    src: url('fonts/icomoon.eot?tm03uu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?tm03uu') format('truetype'),
        url('fonts/icomoon.woff?tm03uu') format('woff'),
        url('fonts/icomoon.svg?tm03uu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

span {
    font-family: 'icomoon';
}

.box {
    width: 1233px;
    height: 715px;
    background-color: #fafafa;
    border-radius: 5px;
}

.leftnav {
    position: fixed;
    left: 0;
    top: 0;
    height: 715px;
    width: 220px;
    background-color: #0b679e;
}

.logo img {
    width: 90%;
    margin: 15px;
}

.menuleft a {
    float: left;
    width: 99%;
    height: 40px;
    border: 1px solid #095786;
    background-color: #0b679e;
    text-indent: 2em;
    text-align: left;
    line-height: 40px;
    margin-bottom: -1px;
    color: #e0ebf2;
    font-size: 14px;

}

.menuleft .yimiaojiezhong {
    display: none;
    background-color: #363e4f;
}

.menuleft .shouye {

    color: #e0ebf2;
}

.menuleft a:hover {
    background-color: #515a6e;
}

.menuleft .waichudengji {
    background-color: #363e4f;
}

.topnav {
    position: fixed;
    left: 220px;
    top: 0;
    height: 44px;
    width: 996px;
    background-color: #09517d;
    color: #fefefe;
    border-top-right-radius: 5px;

}

.topnav .leftbutton {
    float: left;
    background-color: #09517d;
    border: 0;

}

.topnav .button1 {
    padding: 12px 22px;
    background-color: #09517d;
    border: 0;
    color: #4fb6f3;
    font-size: 16px;

}

.topnav .wode,
.xinxitianbao,
.shiwuguanli {
    padding: 11px 22px;
    background-color: #09517d;
    border: 0;
    color: #b5cad7;
    font-size: 14px;
}

.topnav .wode:hover,
.xinxitianbao:hover,
.shiwuguanli:hover {
    color: #f9fbfc;
}

.topnav .right {
    float: right;
    height: 44px;
}

.topnav .button5 {
    position: relative;
    float: right;
    height: 44px;
    width: 275px;
    border: 0;
    margin-left: 10px;
    background-color: #09517d;
    color: #4cb2ee;
    vertical-align: middle;
    border-top-right-radius: 5px;

}

.right .xuesheng {
    line-height: 44px;
}

.right .headlogo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17.5px;
    height: 35px;
    width: 35px;
    background-color: #2d8cf0;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
}

.right .welcome {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -9px;
}

.right .down {
    position: absolute;
    right: 10px;
    top: 16px;
}

.floatmenu {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 110px;
    height: 120px;
    padding: 10px 0;
    background-color: #fff;
    color: #515a6e;
    font-size: 12px;
    text-align: center;
    z-index: 2;

}

.floatmenu a {
    display: block;
    width: 100%;
    height: 30px;
    color: #515a6e;
    line-height: 30px;
}

.floatmenu a:hover {
    background-color: #f3f3f3;
}

.gaimima {
    margin-bottom: 5px;
}


.fengexian {
    border: 0.5px solid #e8eaec;
}

.out {
    margin-top: 5px;
}

.mianbaoxie {
    position: fixed;
    top: 44px;
    left: 220px;
    width: 800px;
    height: 50px;
    padding-left: 20px;
    background-color: #fff;
    line-height: 50px;
    color: #515a6e;
    font-weight: 700;
    z-index: 0;
}

.mianbaoxie .wode {
    font-weight: 400;
    color: #999;
}

.mianbaoxie .xiegang {
    font-weight: 400;
    color: #dcdee2;
}


.neirong {
    position: fixed;
    top: 200px;
    left: 230px;
    width: 980px;

    background-color: #fff;
    color: #515a6e;
}

.liebiao {
    padding: 0 10px 0 10px;
    height: 40px;
    background-color: #e5e9f2;
    line-height: 40px;

}

.shouliebiao {
    float: right;
    margin: 5px 0 5px 0;
    width: 30px;
    height: 30px;
    background-color: #e5e9f2;
    border: 2px solid #c0d6f2;
}

.shouliebiao:hover {
    background-color: #ffffff;
    color: #57a3f3;
}

.lankuang {
    width: 960px;
    height: 20px;
    margin: 10px 10px 10px 10px;
    background-color: #f0faff;
    border: 1px solid #abdcff;

}

.shuaxin {
    position: relative;
    height: 40px;
    margin-right: 10px;
}

.shuaxinbutton {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #55c670;
    color: #55c670;


}

.zidingyilie {
    position: absolute;
    right: 120px;
    line-height: 30px;
    font-size: 14px;

}

.footer {
    padding: 0 10px 0 10px;
}

.shenqing {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 30px;
    background-color: #2d8cf0;
    color: #fff;
    border: 0;

}

.gongtiao {
    position: absolute;
    right: 220px;

}

.shuruyema {
    width: 40px;
    height: 20px;
    border: 1px solid #dcdee2;

}

.xuanzeyeshu {
    margin-right: 10px;
    border: 1px solid #dcdee2;
}

.yincang {
    display: block;
}


.yema {
    float: right;
}

.main {

    width: 960px;
    height: 70px;
    margin: 10px 10px 10px 10px;
    background-color: #f8f8f9;
    text-align: left;


}

table {
    width: 100%;
    height: 100%;
    text-indent: 1em;
    font-size: 14px;
}

table th,
td {
    border: 1px solid #dcdee2;
    margin-left: -1px;
}

table td {
    background-color: #fff;
}

.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .3);
    outline: 0;
}

.rightbox {
    position: fixed;
    right: 0;
    top: 0;
    left: 50%;
    bottom: 0;
    background-color: #fff;
    z-index: 1001;
}

.rightboxheader {
    border-bottom: 1px solid #e8eaec;
    padding: 14px 16px;
    line-height: 1;
}

.rightboxheader .axs {
    float: right;
    color: #000;
}

.rightboxbody {
    position: absolute;
    width: 100%;
    height: calc(100% - 51px);
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
}

.rightboxbodyinner {
    position: absolute;
    top: 64px;
    bottom: 32px;
    left: 32px;
    right: 32px;
    height: 260px;
    width: calc(100%-32px);

}

.rightboxbodyinner li {
    margin: 15px 0;
}

.rightboxbodyinner select,
textarea {
    width: 100px;
    height: 30px;
    border: 1px solid #dcdee2;
    background-color: #fff;

}

.rightboxbodyinner textarea {
    width: 30em;
    height: 2em;
}

.rightboxbodyinner .text {
    display: inline-block;
    position: absolute;
    top: 200px;

}

.rightboxbodyinner .zhongdian {
    margin-left: 104px;
}

.rightboxbodyinner select:hover,
.rightboxbodyinner textarea:hover {
    border: 1px solid #57a3f3;
    transition: all 1s;
}

.rightboxfooter {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    width: 200px;

    text-align: center;
    line-height: 50px;
}

.rightboxfooter .submitfooter {
    width: 80px;
    background-color: #2d8cf0;
    color: #fff;
}

.rightboxfooter .submitfooter,
.rightboxfooter .axsfooter {
    height: 40px;
    border: 0;
}

.rightboxfooter .axsfooter {
    width: 70px;
    background-color: #fff;
    color: #515a6e;
    border: 1px solid #dcdee2;

}

.rightboxfooter .axsfooter:hover {
    color: #57a3f3;
    border-color: #57a3f3;
    transition: all 1s;

}

.rightboxfooter .submitfooter:hover {
    background-color: #57a3f3;
    transition: all 1s;
}

.shijianzhou {
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #e8eaec;
    font-size: 14px;

}

.jiacu {
    font-weight: 700;
}

.shenheshuoming {
    line-height: 1.5;
    text-indent: 16px;
}

.xiaoyuandian {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1.5px solid #2d8cf0;
    border-radius: 50%;
}

.shijianzhou div {
    margin-bottom: 10px;

}

.fengehezi1 {
    position: absolute;
    left: 15.5px;
    bottom: -37.5px;
    width: 1px;
    height: 15px;

    border: 1px solid #e8eaec;
}

.fengehezi2 {
    position: absolute;
    left: 15.5px;
    bottom: -87.5px;
    width: 1px;
    height: 36.5px;

    border: 1px solid #e8eaec;


}